* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.clock {
  color: #00ffcc;
  font-size: 4rem;
  letter-spacing: 4px;
}
